
<%- include ('partials/header') %>
    <main>

      
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('/Photos/HOME/1.jpg');">
                
            </div>
            <div class="carousel-item" style="background-image: url('/Photos/HOME/2.jpg');">
               
            </div>
            <div class="carousel-item" style="background-image: url('/Photos/HOME/3.jpg');">
                
            </div>
            <div class="carousel-item" style="background-image: url('/Photos/HOME/4.jpg');">
                
            </div>
            <div class="carousel-item" style="background-image: url('/Photos/HOME/5.jpg');">
                
            </div>
            <div class="carousel-item" style="background-image: url('/Photos/HOME/6.jpg');">
              
            </div>
        </div>
    </div>
    </main>

    
    <div class="adventure-container text-center">

        <button type="submit" class="btn btn-primary adv-btn">Start Adventuring</button>
    
    </div>


<%- include ('partials/footer') %>
    