<%- include ('partials/header') %>
<main>

    <div class="container mt-4">
        <div class="row">
            
            <div class="col-md-4 centered-content">
                <div class="centered-image">
                <img src="Resources/Photos/Browse/hiking-bag.png" alt="Hiking backpack image" class="img-fluid">
            </div>
        </div>

            
            <div class="col-md-8 item-txt">
                <h2>Hiking Backpack</h2>
                <p><strong>Condition:</strong> Used</p>
                <p><strong>Price/Offers:</strong> $20.00 / 2 offers</p>
                <p><strong>Seller:</strong> Richard Smith</p>
                <p><strong>Description:</strong> Perfect steel blue hiking backpack, gently used a couple of times with a water pack inside the backpack itself.</p>
                
                
                <div class="btn-group" role="group" aria-label="Edit and Delete Buttons">
                    <button type="button" class="btn btn-custom edit-btn">Edit</button>
                    <button type="button" class="btn btn-custom delete-btn">Delete</button>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="d-flex justify-content-between align-items-center">
    <p class="mb-0">Wilderness Wares 2024</p>
    <div class="footer-icons">
        <i class="fab fa-facebook-f fa-lg"></i>
        <i class="fab fa-twitter fa-lg"></i>
        <i class="fab fa-instagram fa-lg" ></i>
        <i class="fab fa-pinterest fa-lg" ></i>
    </div>
</footer>
</body>
</html>