<%- include('partials/header') %>
<main>
    <div class="upper-banner">
        <h1>Sell your gear today!</h1>
    </div>
    <div class="container mt-5">
        <div class="row row-sell">
            <div class="col-md-6 offset-md-3">
                <div class="sell-form">
                    <div class="sell-form-body">
                        <form action="/items/add" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="itemCondition">Condition</label>
                                <select class="form-control form-sell" id="itemCondition" name="condition">
                                    <option>New</option>
                                    <option>Mint</option>
                                    <option>Good</option>
                                    <option>Fair</option>
                                    <option>Used</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="itemTitle">Title</label>
                                <input type="text" class="form-control form-sell" id="itemTitle" name="title" required>
                            </div>
                            <div class="form-group">
                                <label for="itemPrice">Price</label>
                                <input type="number" class="form-control form-sell" id="itemPrice" name="price" required>
                            </div>
                            <div class="form-group">
                                <label for="itemDetails">Details</label>
                                <textarea class="form-control form-sell" id="itemDetails" name="details" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="itemImage">Image</label>
                                <input type="file" class="form-control-file" id="itemImage" name="image">
                            </div>
                            <button type="submit" class="btn btn-primary submitbtn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer') %>